<script type="text/javascript" src="/javascripts/post.js"></script>
<% if @images.length <= 0 %>
    <div id="message">
      <%= @post.body %>
    </div>
<% end %>
<div id="images">
  <% @images.each do |image| %>
      <div class="polaroid hide">
        <div id="polaroid_background"></div>
        <div id="polaroid_image"><a href="<%= image.url %>"><img class="visual_hide" src="<%= image.url %>"/></a></div>
        <div id="caption"><%= @post.body %></div>
      </div>
  <% end %>
</div>
<div id="time">
  <%= @post.smsdatetime.localtime.strftime("%l:%M %p - %e %b %Y") %>
</div>
